/*  */
/* Основные правила */
body {
  margin: 0 auto;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}

a {
  text-decoration: none;
}

/*  */
/* Visually hidden */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*  */
/* Раздел навигации */

header,
.slider {
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 10px;

  font-weight: 500;
  line-height: 30px;

  text-transform: uppercase;
}

.inner-page .main-header {
  margin: 0;
}

.main-header-logo {
  padding-top: 10px;
  width: 160px;
  height: 65px;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:focus {
  opacity: 0.3;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  width: 630px;
  margin-left: 202px;
}

/* .site-navigation a {
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;
} */

.user-navigation {
  width: 165px;
  margin-left: 265px;
}

.site-navigation a,
.user-navigation a {
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;

  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: #000000;

  opacity: 0.3;
}

/* .site-navigation a:active,
.user-navigation a:active {

} */

.site-navigation .site-navigation-current,
.user-navigation .site-navigation-current {
  border-bottom: 2px solid #fb565a;
}

.user-navigation a::before {
  content: url("../img/cart-icon.svg");

  margin-right: 20px;

  opacity: 0.3;
}

/* Контейнеры */
.container {
  width: 1160px;
  margin: 0 auto;

  /* background-color: rgba(33, 33, 173, 0.397); */
}

.container-flex {
  display: flex;
  justify-content: space-between;
}


/*  */
/* Раздел слайдера */

.slider-catalog {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider {
  position: relative;

  margin-bottom: 0;
}

.slider-indicators {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-indicators i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-indicators i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-indicators .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  margin-bottom: 27px;
  max-width: 600px;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.slider-item p {
  margin: 0;
  margin-bottom: 38px;
  max-width: 430px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}

.slider-item .slide-description:nth-child(2) {
  width: 409px;
}

.slider-item .slide-description:nth-child(3) {
  width: 343px;
}

.slider-item {
  display: none;
  width: 1160px;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slides-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slides-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slides-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}


/* .slide .button {
  margin: 0;
  padding-right: 55px;
  padding-left: 55px;
  width: 240px;
  height: 50px;

  background-color: #fb565a;
}

.slide .button:hover {
  background-color: #e74246;
}

.slide .button:focus {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1); */


.slide-image {
  margin: 0;
  padding: 0;
  margin-left: 55px;
}

/*  */
/* Раздел заголовка */

.site-title {
  background-color: #eeeeee;
}

.site-title h1 {
  margin: 0;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 80px;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}

/*  */
/* Раздел услуг */

.services-catalog {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
  list-style: none;
}

.services-catalog-item .services-catalog-description {
  margin-bottom: 40px;
}

.services-catalog-item h2 {
  padding: 0;
  margin: 0;
  margin-top: 17px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  text-transform: uppercase;
}

.services-catalog-item:last-child {
  margin: 0;
}

.services-catalog-item {
  width: 300px;
  margin-right: 100px;
}

.services-catalog-item figure {
  margin-left: 0;
}

.services-catalog-item .button{
  width: 160px;
  min-height: 50px;
  margin:0;
  padding: 0;

  line-height: 50px;
}

/* .services-catalog-item .button-text{
  padding-right: 39px;
  padding-left: 39px; */


.services-catalog-item figure {
  margin: 0;
  padding: 0;
}

.services-catalog-item p {
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.services-catalog-item:nth-child(1) p {
  width: 259px;
}

.services-catalog-item:nth-child(2) p {
  width: 236px;
}

.services-catalog-item:nth-child(3) p {
  width: 216px;
}

/* Старый класс кнопки */
/* .button {
  margin: 0;

  padding: 0;
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 41px;

  line-height: 50px;
  vertical-align: middle;

  border-radius: 3px;

  width: 160px;
  min-height: 50px;

  font: inherit;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  text-transform: uppercase;
} */

/*  */
/* Раздел универсальных кнопок */

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/* .button-text {
  padding-top: 19px;
  padding-right: 5px;
  padding-bottom: 18px;
  padding-left: 5px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;


  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  color: #ffffff;

  text-transform: uppercase;
}

.button:active .button-text{
  opacity: 0.3;
} */

/*  */
/*  */

/* .button:focus {
  opacity: 0.3;
} */

.services-catalog-item:first-child .button {
  background-color: #fb565a;
}

.services-catalog-item:first-child .button:hover {
  background-color: #e74246;
}

/* .services-catalog-item:first-child:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
} */

.services-catalog-item:first-child .button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.services-catalog-item:nth-child(2n) .button {
  background-color: #00ca74;
}

.services-catalog-item:nth-child(2n) .button:hover {
  background-color: #00bc6c;
}

.services-catalog-item:nth-child(2n) .button:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.services-catalog-item:last-child .button {
  background-color: #efc84a;
}

.services-catalog-item:last-child .button:hover {
  background-color: #eab534;
}

.services-catalog-item:last-child .button:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/*  */
/* Раздел о студии */

.about-studio {
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 54px;
  padding-right: 20px;
  padding-bottom: 0px;
}

.about-studio-item {
  width: 660px;
}

.about-studio-item:last-child {
  margin-left: 140px;
  width: 360px;
}

.about-studio b {
  margin-top: 34px;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-studio h3 {
  margin: 0;
  padding: 0;
  margin-top: 38px;

  font-size: 16px;
  line-height: 24px;

  text-transform: uppercase;
}

.about-studio-item ul{
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-left: 36px;

  list-style: none;
}

.about-studio-item ul li{
  position: relative;
  margin-bottom: 24px;

  line-height: 24px;
}

.about-studio-item ul li:before{
  position: absolute;
  content: "";
  top: 8px;
  left: -37px;

  width: 27px;

  line-height: 24px;
  height: 2px;

  border-bottom: 2px solid #fb565a;
}

.about-studio-item:first-child{
  margin-top: 34px;
}

.about-studio-item:first-child p{
  margin: 0;
  padding: 0;
  margin-top: 35px;
}

.about-studio-item:last-child b{
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-left: 16px;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  text-transform: uppercase;

}

.about-studio-item:last-child table {
  margin: 0;
  padding: 0;
  margin-top: 36px;
  margin-left: -2px;
}

tr:first-child td {
  position: relative;

  width: 122px;

  font-size: 45px;
  font-weight: 700;
  line-height: 47px;
}

tr:first-child td sup{
  position: absolute;
  top: 3px;

  font-size: 25px;
  line-height: 27px;
}

tr:last-child td {
  padding-top: 16px;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #283136;
}

/* Раздел портфолио */

.portfolio  {
  margin-bottom: 80px;
}

.portfolio-list {
  display: flex;
  width: inherit;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;

  list-style: none;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.portfolio-item {
  width: 220px;
  padding: 10px;

  opacity: 0.3;
}

.portfolio-item:hover {
  opacity: 1;
}

.portfolio-item:active {
  opacity: 0.1;
}

/*  */
/* Раздел контактов */

.contacts {
  /* display: flex;
  justify-content: flex-end;
  align-items: center; */
  margin: 0;
  padding: 0;
  margin-top: 80px;
  margin-bottom: 40px;
  height: 416px;

  background-color: lightgreen;
  /* padding-top: 55px; */
}

/* .catalog-page .contacts {
  margin-top: 0px;
  margin-bottom: 0px;
} */

.contacts-card {
  height: 308px;
  width: 319px;

  text-align: center;
  /* line-height: 308px; */
  vertical-align: middle;

  background-color: #ffffff;
}

.card-wrapper {
  margin: 0;
  padding: 0;
  padding: 50px;
  /* min-height: 208px; */
}

.card-wrapper p {
  margin-top: 32px;
  margin-bottom: 52px;
}

.button .modal-writeus {
  margin-top: 37px;
  width: 219px;
  height: 50px;
}

/* Начни стилизовать все кнопки по */
/* образцу этого элемента */
.contact-button {
  margin: 0;
  padding: 0;
  width: 240px;
  min-height: 50px;
  background-color: #fb565a;
  border-radius: 3px;
}

.contact-button:hover {
  background-color: #e74246;
}

.contact-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.contact-button-text {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  color: #ffffff;

  text-transform: uppercase;
}

.contact-button:active .contact-button-text{
  opacity: 0.3;
}

/*  */
/*  */



.contacts .button {
  background-color: #fb565a;
}

.contacts .button:hover {
  background-color: #e74246;
}

.contacts .button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/*  */
/* Раздел боковых фильтров */

.filters {
  margin-top: 60px;
  margin-bottom: 0;
  width: 261px;
}

.filters-grids ul,
.filters-features ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filters fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 25px;

  cursor: pointer;
}

.filters-grids-item input{
  position: absolute;

  opacity: 0;
}

.radio-mark {
  position: absolute;
  top: -3px;
  left: -4px;

  height: 16px;
  width: 16px;

  background-color: #ffffff;
  border: 4px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.radio-container:hover input ~ .radio-mark{
  opacity: 1;
}

.radio-container input:checked ~ .radio-mark{
  background-color: #ffffff;
}

.radio-mark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .radio-mark:after {
  display: block;
}

.radio-container .radio-mark:after {
  top: 4px;
  left: 4px;

	width: 8px;
  height: 8px;

  border-radius: 50%;

	background-color: #4d4d4d;
}

.filters-form legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;

  text-transform: uppercase;
  letter-spacing: 0.05px;
}

.filters-price {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
}

.filters-price label,
.filters-grids label,
.filters-features label {

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #283136;
}

.filters-price input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  margin-bottom: 50px;

  font-family: Roboto, Arial, sans-serif;
  text-align: center;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.price-high {
  text-align: right;
}

.filters-grids label,
.filters-features label  {
  line-height: 20px;
}

.filters-form .button {
  width: 260px;
  height: 50px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;

  background-color: #eeeeee;
  border: none;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 25px;

  cursor: pointer;
}

.checkbox-container input {
  position: absolute;
  height: 0;
  width: 0;

  opacity: 0;
  cursor: pointer;
}

.checkbox-mark {
  position: absolute;
  top: 0;
  left: -5px;

  height: 25px;
  width: 25px;

  background-image: url("../img/filters-features.svg");
  background-repeat: no-repeat;

  opacity: 0.4;
}

.checkbox-container:hover input ~ .checkbox-mark {
  opacity: 1;
}

.checkbox-container input:checked ~ .checkbox-mark {
  background-image: url("../img/filters-features-checked.svg");
  background-repeat: no-repeat;
}

.filters-form .button:hover {
  background-color: #dfdfdf;
}

.filters-form .button:focus {
  background-color: #d5d5d5;
  opacity: 0.3;
}

/*  */
/* Раздел фильтра каталога */
.sorting-layout ul{
  list-style: none;
}

.sorting-layout p {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-layout .sorting-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;

  text-transform: uppercase;

  opacity: 0.3;
}

.sorting-layout .sorting-button:hover {
  opacity: 0.6;
}

.sorting-layout .sorting-button:focus{
  opacity: 1;
}

.sorting-layout {
  margin: 0;
  padding: 0;

  width: 760px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.sorting-type-list,
.sorting-arrows {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.sorting-type-list {
  margin-left: 210px;
}

.sorting-type-list li {
  margin: 0;
  padding: 0;
  margin-left: 26px;
}

.sorting-arrows li {
  margin: 0;
  padding: 0;
  margin-left: 18px;
}

.sorting-button-descending span{
  position: absolute;
  top: 7px;
  left: -15px;

  width: 0;
  height: 0;

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #231f20;
}

.sorting-button-ascending span{
  position: absolute;
  top: 7px;

  width: 0;
  height: 0;

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid #231f20;
}

.sorting-button-descending,
.sorting-button-ascending {
  position: relative;

  opacity: 0.2;
}

.sorting-button-descending:hover,
.sorting-button-ascending:hover {
  opacity: 0.4;
}

.sorting-button-descending:focus,
.sorting-button-ascending:focus {
  opacity: 1;
}

/*  */
/* Раздел каталога */

.catalog {
  margin: 0;
  padding: 0;
}

.catalog-content {
  margin: 0;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 60px;

  width: 760px;
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start; */
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  margin-top: 59px;
  width: 760px;

  list-style: none;
}

.catalog-item {
  position: relative;

  width: 360px;
  margin-left: 40px;
  margin-bottom: 30px;

  border-top: 40px solid #eaeaea;
  border-radius: 3px;
}

.catalog-item:nth-child(odd) {
  margin: 0;
}

.catalog-item::after{
  display: inline-block;
  position: absolute;
  top: -27px;
  left: 15px;

  content: "";

  height: 15px;
  width: 15px;

  background-color: #ffffff;
  box-shadow: 23px 0 0 #ffffff, 46px 0 0 #ffffff;
  border-radius: 50%;
}

.catalog-item:hover {
  border-top-color: #4d4d4d;
  /* box-shadow: 0 1px 5px #000000; */
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item-description {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0px;

  width: 360px;
  min-height: 231px;

  text-align: center;
  vertical-align: bottom;
  line-height: 210px;

  background-color: #eeeeee;
}

.catalog-item:hover .catalog-item-description{
  display: block;
}

.item-container {
  display: inline-block;

  line-height: 1.5;
  vertical-align: middle;
}

.catalog-item-description a {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;

  text-transform: uppercase;
}

.catalog-item-description a:hover {
  color: #fb565a;
}

.catalog-item-description a:focus {
  color: #000000;

  opacity: 0.3;
}

.buy-button {
  width: 200px;
  height: 50px;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.buy-button span {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

.buy-button:hover {
  background-color: #e74246;
}

.buy-button:focus {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

/*  */
/* Раздел пагинации */

.pagination {
  margin-top: 30px;
  width: 443px;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  width: 50px;
  height: 50px;

  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: #000000;

  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination-list .pagination-item-current{
  /* outline: 3px solid #dbdbdb; */
  outline-offset: -3px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #dbdbdb;
}

.pagination-item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;
}

.pagination-item:active a {
  opacity: 0.3;
}

.pagination-item:last-child {
  width: 260px;
}

.pagination-item:hover {
  background-color: #dfdfdf;
}

.pagination-item:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/*  */
/* Раздел футера */


.main-footer {
  margin-top: 69px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.main-footer .container {
  display: flex;
}

.footer-text {
  width: 545px;
  margin-left: 139px;
}

.main-footer .social-buttons-list {
  list-style: none;
}

.main-footer b {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.main-footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #444444;
}

/* .main-footer .social-button {
  background-color: #e1e1e1;
} */

.social-buttons-list {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: 0;
  padding: 0;
}

.social-button-container {
  display: block;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;

  text-align: center;
  line-height: 75px;
}

.social-button-icon {
  vertical-align: middle;
}

.social-button-container:hover {
  background-color: #e74246;
}

.social-button-container:active{
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social-button-container:active .social-button-icon{
  opacity: 0.3;
}

/*  */
/* Раздел модального окна */

.modal {
  /* display: none; */
  margin: 0;
  padding: 0;
  width: 960px;
  height: 590px;

  background-color: #ffffff;
  /* background-color: #00aa62; */
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 73px;
  margin-left: 77px;
  margin-right: 90px;
}

.modal h2 {
  display: block;
  margin: 0;
  padding: 0;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.modal-close {
  margin: 0;
  padding: 0;
  margin-left: 436px;
  width: 21px;
  height: 21px;

  border: none;
  background-color: transparent;

  cursor: pointer;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:focus {
  opacity: 0.1;
}

.writeus-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.writeus-item {
  margin: 0;
  margin-bottom: 36px;
  width: 360px;
}

.writeus-item label {
  display: block;
  margin-left: 0;
  margin-bottom: 5px;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.writeus-item:nth-child(3) {
  width: 760px;
  margin-bottom: 47px;
}

.writeus-item-input {
  width: 360px;
  height: 50px;

  border-radius: 3px;
  border: 2px solid #d7dcde;
}

.writeus-item:nth-child(3) .writeus-item-input {
  width: 760px;
  height: 118px;
}

.writeus-item-input::placeholder {
  padding-left: 15px;

  font-size: 16px;
  font-weight: 400;
  /* line-height: 18px;
  padding-top: 18px; */
  color: #444444;

  opacity: 0.5;
}

.writeus-item:nth-child(3) .writeus-item-input::placeholder {
  /* padding-top: 18px; */
  padding-left: 15px;

  line-height: 18px;
}

.writeus-button {
  /* width: 260px;
  height: 50px;

  background-color: #fb565a; */
  border: none;
}

/* .writeus-button:hover {
  background-color: #e74246;
}

.writeus-button:focus {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
} */

.writeus-button:focus span {
  opacity: 0.3;
}
/* Сеточные стили */

/* html,
body {
  min-width: 1440px;
  min-height: 2476px;
  /* min-width: 1440px;
  min-height: 3213px; */
/* }  */

/* .inner-page { */
  /* Временно для сетки */
  /* background-image: url("../img/bg-catalog.png");
  background-size: 5669 1440px;
  background-position: top center;
  background-repeat: no-repeat; */
/* } */

/* Временный аутлайн */

/* body > * {
  background: rgba(255, 55, 0, 0.3);
  outline: green solid 2px;
  opacity: 0.5;
}

body > * > *{
  background: rgba(255, 169, 10, 0.305);
  outline: blue solid 2px;
}

body > * > * > *{
  background: rgba(0, 0, 255, 0.3);
  outline: goldenrod solid 2px;
}

body > * > * > * > *{
  background: rgba(13, 192, 82, 0.5);
  outline: red solid 2px;
}

body > * > * > * > * > *{
  background: rgba(9, 131, 245, 0.774);
  outline: tomato solid 2px;
} */

/* Временный аутлайн */

/* .map {
  width: 1440px;

  min-height: 416px;
} */

