/*  */
/* Основные правила */
body {
  margin: 0 auto;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}

a {
  text-decoration: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */

/*  */
/* Visually hidden */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*  */
/* Раздел навигации */

header,
.slider {
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 40px;

  font-weight: 500;
  line-height: 30px;

  text-transform: uppercase;
}

.inner-page .main-header {
  margin: 0;
}

.main-navigation .main-header-logo {
  width: 160px;
  height: 65px;
  padding-top: 10px;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:focus {
  opacity: 0.3;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  padding-bottom: 6px;

  list-style: none;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 659px;
  margin-left: 201px;
}

.user-navigation {
  width: 171px;
  margin-left: 247px;
}

.site-navigation a,
.user-navigation a {
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;

  color: #000000;
}

.user-navigation a {
  position: relative;

  padding-left: 40px;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: #000000;

  opacity: 0.3;
}

.site-navigation .site-navigation-current,
.user-navigation .site-navigation-current {
  border-bottom: 2px solid #fb565a;
}

.user-navigation a::before {
  position: absolute;
  top: 6px;
  left: -2px;

  content: url("../img/cart-icon.svg");

  margin-right: 20px;

  opacity: 0.3;
}

/* Контейнеры */
.container {
  width: 1160px;
  margin: 0 auto;
  /* padding: 0 20px; */
}

.container-flex {
  display: flex;
  justify-content: space-between;
}


/*  */
/* Раздел слайдера */

/* @keyframes fade {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
} */

.slider-catalog {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider {
  position: relative;

  margin-bottom: 0;
}

.slider-indicators {
  position: absolute;
  left: 50%;
  bottom: 100px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-indicators span {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-indicators span::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-indicators .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}


.dot:hover::after {
  background-color: #717171;
  opacity: 0.5;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;


  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}

.slider-catalog .button {
  padding-top: 16px;
  padding-bottom: 16px;
}

.slider-item .slide-description:nth-child(2) {
  width: 409px;
}

.slider-item .slide-description:nth-child(3) {
  width: 343px;
}

.slider-item {
  display: none;
  width: 1160px;
  padding-top: 78px;
  padding-right: 0;
  padding-bottom: 76px;
  padding-left: 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slides-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slides-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slides-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slide-image {
  margin: 0;
  margin-left: 55px;
  padding: 0;

}

/*  */
/* Раздел заголовка */

.site-title {
  background-color: #eeeeee;
}

.site-title h1 {
  margin: 0;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 100px;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}

/*  */
/* Раздел услуг */

.services{
  margin: 0;
  margin-top: 85px;
  padding: 0;
}

.services-catalog {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
  list-style: none;
}

.services-catalog-item .services-catalog-description {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 30px;
  padding: 0;

}

.services-catalog-item h2 {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 17px;
  padding: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  text-transform: uppercase;
}

.services-catalog-item:last-child {
  margin: 0;
}

.services-catalog-item {
  width: 300px;
  margin-right: 100px;
}

.services-catalog-item figure {
  margin: 0;
  margin-left: 0;
  padding: 0;
}

.services-catalog-item img {
  margin: 0;
  padding: 0;
}

.services-catalog-item .button{
  width: 160px;
  min-height: 50px;
  margin:0;
  padding: 0;

  line-height: 50px;
}

.services-catalog-item:nth-child(1) p {
  width: 259px;
}

.services-catalog-item:nth-child(2) p {
  width: 236px;
}

.services-catalog-item:nth-child(3) p {
  width: 216px;
}


/*  */
/* Раздел универсальных кнопок */

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/*  */
/*  */

.services-catalog-item:first-child .button {
  background-color: #fb565a;
}

.services-catalog-item:first-child .button:hover {
  background-color: #e74246;
}

.services-catalog-item:first-child .button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.services-catalog-item:nth-child(2n) .button {
  background-color: #00ca74;
}

.services-catalog-item:nth-child(2n) .button:hover {
  background-color: #00bc6c;
}

.services-catalog-item:nth-child(2n) .button:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.services-catalog-item:last-child .button {
  background-color: #efc84a;
}

.services-catalog-item:last-child .button:hover {
  background-color: #eab534;
}

.services-catalog-item:last-child .button:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/*  */
/* Раздел о студии */

.about-studio {
  margin: 0;
  padding: 0;
  padding-top: 41px;
  padding-bottom: 48px;
}

.about-studio-item {
  width: 660px;
}

.about-studio-item:last-child {
  width: 360px;
  margin-left: 140px;
}

.about-studio b {
  margin-top: 34px;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-studio h3 {
  margin: 0;
  margin-top: 38px;
  padding: 0;

  font-size: 16px;
  line-height: 24px;

  text-transform: uppercase;
}

.about-studio-features{
  margin: 0;
  margin-top: 24px;
  margin-left: 36px;
  padding: 0;

  list-style: none;
}

.about-studio-features li{
  position: relative;
  margin-bottom: 24px;

  line-height: 24px;
}

.about-studio-features li:before{
  position: absolute;
  content: "";
  top: 8px;
  left: -37px;

  width: 27px;

  line-height: 24px;
  height: 2px;

  border-bottom: 2px solid #fb565a;
}

.about-studio-item:first-child{
  margin-top: 34px;
}

.about-studio-item:first-child p{
  margin: 0;
  margin-top: 35px;
  padding: 0;
}

.about-studio-item:last-child b{
  display: block;
  margin: 0;
  margin-top: 30px;
  margin-left: 16px;
  padding: 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  text-transform: uppercase;

}

.about-studio-item:last-child table {
  margin: 0;
  margin-top: 36px;
  margin-left: -2px;
  padding: 0;
}

.table-percent {
  position: relative;

  width: 122px;

  font-size: 45px;
  font-weight: 700;
  line-height: 47px;
}

.table-percent sup {
  position: absolute;
  top: 3px;

  font-size: 25px;
  line-height: 27px;
}

tr:last-child td {
  padding-top: 16px;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #283136;
}

/* Раздел портфолио */

.portfolio  {
  margin-bottom: 30px;
}

.portfolio-list {
  display: flex;
  width: inherit;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 33px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 10px;

  list-style: none;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.portfolio-item {
  width: 220px;
  padding: 10px;

  opacity: 0.3;
}

.portfolio-item:nth-child(1) {
  padding-top: 24px;
  padding-left: 21px;
}

.portfolio-item:nth-child(2) {
  padding-top: 13px;
  padding-left: 0;
}

.portfolio-item:nth-child(3) {
  padding-right: 9px;
  padding-left: 15px;

}

.portfolio-item:nth-child(4) {
  padding-top: 17px;
  padding-right: 6px;
  padding-left: 10px;
}

.portfolio-item:hover {
  opacity: 1;
}

.portfolio-item:active {
  opacity: 0.1;
}

/*  */
/* Раздел контактов */

.contacts {
  width: 100%;
  height: 416px;
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  padding-top: 54px;
}

.contacts .container {
  width: 100%;
}

.map {
  position: relative;

  width: 100%;
  height: 416px;
  margin: 0;
  padding: 0;
  /* padding-top: 54px; */

  background-image: url("../img/map-marker.png") ,url("../img/map.png");
  background-position: 822px 85px ,center 0;
  background-repeat: no-repeat, no-repeat;
}

.map iframe {
  border: none;
  width: 100%;
  height: 416px;
  /* frameborder: 1; */
  /* allowfullscreen: true; */
}

.card-wrapper {
  position: absolute;
  top: 45px;
  left: 50px;

  margin: 0;
  margin-left: 140px;
  margin-right: 975px;
  padding: 0;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;

  background-color: #ffffff;
}

.card-wrapper h3 {
  text-align: left;
}

.card-wrapper p {
  margin-top: 32px;
  margin-bottom: 32px;

  text-align: left;
}

.card-wrapper .modal-writeus {
  width: 219px;
  height: 50px;
  margin-top: 37px;
  padding: 0;

  line-height: 50px;
}

/* Общая стилизация кнопок */
/*  */
.contact-button {
  width: 240px;
  min-height: 50px;
  margin: 0;
  padding: 0;

  background-color: #fb565a;
  border-radius: 3px;
}

.contact-button:hover,
.contact-button:focus {
  background-color: #e74246;
}

.contact-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.contact-button-text {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  color: #ffffff;

  text-transform: uppercase;
}

.contact-button:active .contact-button-text{
  opacity: 0.3;
}

/*  */
/*  */

.contacts .button {
  background-color: #fb565a;
}

.contacts .button:hover {
  background-color: #e74246;
}

.contacts .button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/*  */
/* Раздел боковых фильтров */

.filters {
  margin-top: 63px;
  margin-bottom: 0;
  width: 261px;
}

.filters-grids ul,
.filters-features ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filters fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

/* .filters-price:hover,
.filters-price:focus,
.filters-price .range-controls:hover,
.filters-price .range-controls:focus,
.filters-grids:hover,
.filters-grids:focus,
.filters-grids-item:hover,
.filters-grids-item:focus,
.filters-features:hover,
.filters-features:focus,
.filters-features-item:hover
.filters-features-item:focus {

  outline: 1px solid blue;
} */

.radio-container {
  display: block;
  position: relative;
  margin-bottom: 25px;
  padding-left: 30px;

  cursor: pointer;
}

.filters-grids-item input{
  position: absolute;

  opacity: 0;
}

.radio-mark {
  position: absolute;
  top: -3px;
  left: -4px;

  width: 16px;
  height: 16px;

  background-color: #ffffff;
  border: 4px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.radio-container:hover input ~ .radio-mark{
  opacity: 1;
}

.radio-container input:checked ~ .radio-mark{
  background-color: #ffffff;
}

.radio-mark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .radio-mark:after {
  display: block;
}

.radio-container .radio-mark:after {
  top: 4px;
  left: 4px;

	width: 8px;
  height: 8px;

  border-radius: 50%;

	background-color: #4d4d4d;
}

.filters-form legend {
  margin-bottom: 4px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;

  text-transform: uppercase;
  letter-spacing: 0.05px;
}

.filters-block-grid legend,
.filters-block-features legend{
  margin-bottom: 20px;
}

.filters-form .filters-block-grid {
  margin-bottom: 25px;
}

.filters-form .filters-block-price {
  margin-bottom: 10px;
}

.filters-price {
  width: 260px;
  margin-top: 49px;
}


.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
}

.filters-price label,
.filters-grids label,
.filters-features label {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #283136;
}

.filters-grids label,
.filters-features label {
  margin-bottom: 20px;
}

.filters-grids ul,
.filters-features ul {
  margin-left: 5px;
}

.filters-price input {
  width: 60px;
  margin-left: 10px;
  margin-bottom: 50px;
  padding: 8px 10px;

  font-family: "Roboto", Arial, sans-serif;
  text-align: center;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.price-high {
  text-align: right;
}

.filters-grids label,
.filters-features label  {
  line-height: 20px;
}

.filters-form .button {
  width: 260px;
  height: 50px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;

  background-color: #eeeeee;
  border: none;
}

.checkbox-container {
  display: block;
  position: relative;
  margin-bottom: 25px;
  padding-left: 30px;

  cursor: pointer;
}

.checkbox-container input {
  position: absolute;
  width: 0;
  height: 0;

  opacity: 0;
  cursor: pointer;
}

.checkbox-mark {
  position: absolute;
  top: 0;
  left: -5px;

  width: 25px;
  height: 25px;

  background-image: url("../img/filters-features.svg");
  background-repeat: no-repeat;

  opacity: 0.4;
}

.checkbox-container:hover input ~ .checkbox-mark {
  opacity: 1;
}

.checkbox-container input:checked ~ .checkbox-mark {
  background-image: url("../img/filters-features-checked.svg");
  background-repeat: no-repeat;
}

.filters-form .button {
  margin-top: 30px;
}

.filters-form .button:hover {
  background-color: #dfdfdf;
}

.filters-form .button:focus {
  background-color: #d5d5d5;
  opacity: 0.3;
}

/*  */
/* Раздел фильтра каталога */
.sorting-layout ul{
  list-style: none;
}

.sorting-layout p {
  margin: 0;
  margin-right: 240px;
  padding: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-layout .sorting-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  opacity: 0.3;
}

.sorting-layout .sorting-button:hover {
  opacity: 0.6;
}

.sorting-layout .sorting-button:focus{
  opacity: 1;
}

.sorting-layout {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 760px;
  margin: 0;
  padding: 0;
}

.sorting-type-list,
.sorting-arrows {
  display: flex;
  /* justify-content: space-between; */
  margin: 0;
  padding: 0;
}

.sorting-type-list {
  /* margin-left: 188px; */
  margin-right: 47px;
}

.sorting-type-list li {
  margin: 0;
  margin-left: 26px;
  padding: 0;
}

.sorting-arrows li {
  margin: 0;
  margin-left: 14px;
  padding: 0;
}

.sorting-button-descending span{
  position: absolute;
  top: 7px;
  left: -15px;

  width: 0;
  height: 0;

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #231f20;
}

.sorting-button-ascending span{
  position: absolute;
  top: 7px;

  width: 0;
  height: 0;

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid #231f20;
}

.sorting-button-descending,
.sorting-button-ascending {
  position: relative;

  opacity: 0.2;
}

.sorting-button-descending:hover,
.sorting-button-ascending:hover {
  opacity: 0.4;
}

.sorting-button-descending:focus,
.sorting-button-ascending:focus {
  opacity: 1;
}

/*  */
/* Раздел каталога */

.catalog {
  margin: 0;
  padding: 0;
}

.catalog-content {
  width: 760px;
  margin: 0;
  margin-top: 63px;
  margin-bottom: 10px;
  padding: 0;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 760px;
  margin: 0;
  margin-top: 52px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  width: 360px;
  margin-left: 40px;
  margin-bottom: 30px;

  border-top: 40px solid #eaeaea;
  border-radius: 3px;
}

.catalog-item:nth-child(odd) {
  margin: 0;
}

.catalog-item::after{
  display: inline-block;
  position: absolute;
  top: -27px;
  left: 15px;

  content: "";

  height: 15px;
  width: 15px;

  background-color: #ffffff;
  box-shadow: 23px 0 0 #ffffff, 46px 0 0 #ffffff;
  border-radius: 50%;
}

.catalog-item:hover {
  border-top-color: #4d4d4d;
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item-description {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0px;

  width: 360px;
  min-height: 231px;

  text-align: center;
  vertical-align: bottom;
  line-height: 210px;

  background-color: #eeeeee;
}

.catalog-item:hover .catalog-item-description{
  display: block;
}

.item-container {
  display: inline-block;

  line-height: 1.5;
  vertical-align: middle;
}

.catalog-item-description a {
  display: block;

  margin-top: 10px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;

  text-transform: uppercase;
}

.catalog-item-description a:hover {
  color: #fb565a;
}

.catalog-item-description a:focus {
  color: #000000;

  opacity: 0.3;
}

.buy-button {
  width: 200px;
  height: 50px;
  margin-bottom: 20px;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.buy-button span {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

.buy-button:hover {
  background-color: #e74246;
}

.buy-button:focus {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

/*  */
/* Раздел пагинации */

.pagination {
  width: 443px;
  margin-top: 17px;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  width: 50px;
  height: 50px;

  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: #000000;

  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination-list .pagination-item-current{
  outline-offset: -3px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #dbdbdb;
}

.pagination-item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;
}

.pagination-item:active a {
  opacity: 0.3;
}

.pagination-item:last-child {
  width: 260px;

  text-transform: uppercase;
}

.pagination-item:hover {
  background-color: #dfdfdf;
}

.pagination-item:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/*  */
/* Раздел футера */


.main-footer {
  margin-top: 33px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 69px;
}

.main-footer .container {
  display: flex;
}

.footer-text {
  width: 545px;
  margin-top: 5px;
  margin-left: 139px;
}

.main-footer .social-buttons-list {
  list-style: none;
}

.main-footer b {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.main-footer p {
  margin-top: 9px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #444444;
}

.social-buttons-list {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: 0;
  padding: 0;
}

.social-button-container {
  display: block;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;

  text-align: center;
  line-height: 75px;
}

.social-button-icon {
  vertical-align: middle;
}

.social-button-container:hover {
  background-color: #e74246;
}

.social-button-container:active{
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social-button-container:active .social-button-icon{
  opacity: 0.3;
}

/*  */
/* Раздел модального окна */

@keyframes appear{
  0% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes shake{
  0% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateX(5px);
  }
}


.modal {
  position: fixed;
  top: 120px;
  left: 25%;
  display: none;

  width: 960px;
  height: 661px;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-show {
  display: block;

  animation-name: appear;
  animation-duration: 500ms;
  animation-timing-function: linear;
}

.modal-error {
  animation-name: shake;
  animation-duration: 500ms;
  animation-timing-function: linear;
}

.modal-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 73px;
  padding-left: 100px;
  padding-right: 90px;
}

.modal h2 {
  display: block;
  margin: 0;
  padding: 0;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.modal-close {
  width: 21px;
  height: 21px;
  margin: 0;
  margin-left: 436px;
  padding: 0;

  border: none;
  background-color: transparent;

  cursor: pointer;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:focus {
  opacity: 0.1;
}

.writeus-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 0;
}

.writeus-item {
  width: 360px;
  margin: 0;
  margin-bottom: 36px;
}

.writeus-item label {
  display: block;
  margin-left: 0;
  margin-bottom: 5px;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.writeus-item:nth-child(3) {
  width: 760px;
  margin-bottom: 47px;
}

.writeus-item-input {
  width: 360px;
  height: 50px;
  padding-left: 15px;


  border-radius: 3px;
  border: 2px solid #d7dcde;
}

.writeus-item-input:hover {
  border: 2px solid #b4b9bb;
}

.writeus-item-input:focus {
  border: 2px solid #000000;
}

.writeus-item-input:invalid {
  border: 2px solid #e74246;
}

.writeus-item:nth-child(3) .writeus-item-input {
  width: 760px;
  height: 118px;
  padding-top: 14px;
}

.writeus-item-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #444444;

  opacity: 0.5;
}

.writeus-item:nth-child(3) .writeus-item-input::placeholder {
  padding-left: 15px;

  line-height: 18px;
}

.writeus-button {
  height: 50px;
  border: none;
}

.writeus-button:focus span {
  opacity: 0.3;
}

