/*  */
/* Основные правила */
body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

a {
  text-decoration: none;
}

/*  */
/* Visually hidden */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*  */
/* Раздел навигации */

header,
.slider {
  background-color: #eeeeee;
}

.main-navigation {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: #000000;
  opacity: 0.3;
}

.site-navigation a:focus-within {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #fb565a;
}

.user-navigation a::before {
  content: url("../img/cart-icon.svg");
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:focus {
  opacity: 0.3;
}

/*  */
/* Раздел слайдера */

.slider-catalog {
  list-style: none;
}

.slide p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}

.slide .slider-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.slide .button {
  background-color: #fb565a;
}

.slide .button:hover {
  background-color: #e74246;
}

.slide .button:focus {
  background-color: #d7373b;
}

/*  */
/* Раздел заголовка */

.site-title {
  background-color: #eeeeee;
}

.site-title h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}

/*  */
/* Раздел услуг */

.services-catalog {
  list-style: none;
}

.services-catalog-item h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
}

.services-catalog-item:first-child .button {
  background-color: #fb565a;
}

.services-catalog-item:first-child .button:hover {
  background-color: #e74246;
}

.services-catalog-item:first-child .button:focus {
  background-color: #d7373b;
}

.services-catalog-item:nth-child(2n) .button {
  background-color: #00ca74;
}

.services-catalog-item:nth-child(2n) .button:hover {
  background-color: #00bc6c;
}

.services-catalog-item:nth-child(2n) .button:focus {
  background-color: #00aa62;
}

.services-catalog-item:last-child .button {
  background-color: #efc84a;
}

.services-catalog-item:last-child .button:hover {
  background-color: #eab534;
}

.services-catalog-item:last-child .button:focus {
  background-color: #e5a722;
}

.services {
  border-bottom: 2px solid #eeeeee;
}

/*  */
/* Раздел о студии */

.about-studio b {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-studio h3 {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-studio-item ul{
  list-style: none;
}

.about-studio-item:last-child b{
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

tr:first-child td {
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
}

tr:last-child td {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.partners-list li {
  opacity: 0.2;
}

.partners-list li:hover {
  opacity: 1;
}

.partners-list li:focus {
  opacity: 0.1;
}

.partners {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

/*  */
/* Раздел контактов */

.contacts .button {
  background-color: #fb565a;
}

.contacts .button:hover {
  background-color: #e74246;
}

.contacts .button:focus {
  background-color: #d7373b;
}

/*  */
/* Раздел боковых фильтров */

.filters-grids ul,
.filters-features ul {
  list-style: none;
}

fieldset {
  border: none;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 25px;
  cursor: pointer;
}

.filters-grids-item input{
  position: absolute;
  opacity: 0;
}

.radio-mark {
  position: absolute;
  top: 0;
  left: -5px;
  height: 15px;
  width: 15px;

  background-color: #ffffff;
  border: 5px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.radio-container:hover input ~ .radio-mark{
  opacity: 1;
}

.radio-container input:checked ~ .radio-mark{
  background-color: #ffffff;
}

.radio-mark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .radio-mark:after {
  display: block;
}

.radio-container .radio-mark:after {
  top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
  border-radius: 50%;

	background-color: #4d4d4d;
}

.filters-form legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.05px;
  color: #000000;
}

.filters-price label,
.filters-grids label,
.filters-features label {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #283136;
}

.filters-price input {
  width: 80px;
  height: 38px;

  text-align: center;

  background-color: #eeeeee;
  border: none;
}

.filters-grids label,
.filters-features label  {
  line-height: 20px;
}

.filters-form .button {
  width: 260px;
  height: 50px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;

  background-color: #eeeeee;
  border: none;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 25px;
  cursor: pointer;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-mark {
  position: absolute;
  top: 0;
  left: -5px;
  height: 25px;
  width: 25px;
  background-image: url("../img/filters-features.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.checkbox-container:hover input ~ .checkbox-mark {
  opacity: 1;
}

.checkbox-container input:checked ~ .checkbox-mark {
  background-image: url("../img/filters-features-checked.svg");
  background-repeat: no-repeat;
}

.filters-form .button:hover {
  background-color: #dfdfdf;
}

.filters-form .button:focus {
  background-color: #d5d5d5;
  opacity: 0.3;
}

/*  */
/* Раздел фильтра каталога */
.sorting-layout ul{
  list-style: none;
}

.sorting-layout p {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-layout .sorting-button {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  opacity: 0.3;
}

.sorting-layout .sorting-button:hover {
  opacity: 0.6;
}

.sorting-layout .sorting-button:focus{
  opacity: 1;
}

.sorting-button-descending,
.sorting-button-ascending {
  opacity: 0.2;
}

.sorting-button-descending:hover,
.sorting-button-ascending:hover {
  background-color: #a6a6a6;
}

.sorting-button-descending:focus,
.sorting-button-ascending:focus {
  background-color: #000000;
}

/*  */
/* Раздел каталога */

.catalog-list {
  list-style: none;
}

.catalog-item-description {
  /* display: none; */
}

.catalog-item {
  background-image: url("../img/browser.png");
  background-repeat: no-repeat;

  vertical-align: top;
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  width: 50px;
  height: 50px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  color: #000000;

  background-color: #eeeeee;
}

.pagination-list .pagination-item-current{
  outline: 3px solid #dbdbdb;
  outline-offset: -3px;
}

.pagination-item:last-child {
  width: 260px;
}

.pagination-item:hover {
  background-color: #dfdfdf;
}

.pagination-item:focus {
  background-color: #d5d5d5;
}

/*  */
/* Раздел футера */

.main-footer ul {
  list-style: none;
}

.main-footer b {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.main-footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #444444;
}

/* .main-footer .social-button {
  background-color: #e1e1e1;
} */

.social-button-container {
  display: block;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;

  text-align: center;
  line-height: 75px;
}

.social-button-icon {
  vertical-align: middle;
}

.social-button-container:hover {
  background-color: #e74246;
}

.social-button-container:focus{
  background-color: #d7373b;
}

.social-button:focus {
  opacity: 0.3;
}

/*  */
/* Раздел модального окна */

.modal {
  display: none;
}
